<%= form_for(@idea) do |f| %>
  <%= render 'partials/flash_errors', object: @idea %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :level_of_fun %><br>
    <%= f.number_field :level_of_fun, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :level_of_complexity %><br>
    <%= f.number_field :level_of_complexity, class: 'form-control' %>
  </div>
  <% unless f.object.persisted? %>
  <div class="form-group">
    <%= recaptcha_tags %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit 'Submit idea' %>
  </div>
<% end %>
