<h1>Listing ideas</h1>

<script type="text/javascript" charset="utf-8">
$(function () {
    $('#ideas_chart').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Idea Chart'
        },
        xAxis: {
            min: 0,
            max: 5,
            ceiling: 5,
            title: {
              text: 'Level of complexity'
            }
        },
        yAxis: {
            title: {
                text: 'Level of fun'
            }
        },
        legend: {
          enabled: false
        },
        series: [{
            name: 'Fun idea, but complex',
            data: [[5, 5]]
        }, {
            name: 'Not very complex, but not very fun either',
            data: [[2, 1]]
        }, {
            name: 'Not very fun, and rather complex',
            data: [[1, 4]]
        }
        ],
        series: [
        <% @ideas.each do |idea| %>
        {
            name: '<%= idea.description %>',
            data: [[<%= idea.level_of_complexity %>,<%= idea.level_of_fun %>]]
        },
        <% end %>
        ]
    });
});
</script>

<div id="ideas_chart" style="width:560px; height:300px;"></div>


<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Level of fun</th>
      <th>Level of complexity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.description %></td>
        <td><%= idea.level_of_fun %></td>
        <td><%= idea.level_of_complexity %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
