<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Greetings! <small>Let the ideas flow</small></h1>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <%= image_tag avatar_url(@user), class: 'img-radius' %>
          <p><b><%= @user.email %><b></p>
          <hr>
          <div class="col-md-6">
            <%= @user.number_of_ideas_created_today %><br>
            <p class="label label-success">Number of ideas created today</p>
          </div>
          <div class="col-md-6">
            <%= @user.number_of_total_ideas %><br>
            <p class="label label-warning">Number of ideas created in total</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <%= link_to 'Edit', edit_user_registration_path %> |
    <%= link_to 'Back', :back %>

  </div>
  <div class="col-md-2">
    <%= link_to "Submit idea", new_idea_path, class: "btn btn-default btn-sm pull-right" %>
  </div>

</div>

